[submodule "themes/hugo-theme-cactus-plus"]
	path = themes/hugo-theme-cactus-plus
	url = https://github.com/hyacinthus/hugo-theme-cactus-plus.git
[submodule "themes/hugo-theme-slim"]
	path = themes/hugo-theme-slim
	url = https://github.com/hyacinthus/hugo-theme-slim.git
